.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", monospace;
}

:root {
    /* Neutral Colors */
    --neutral-0: hsl(0, 0%, 100%);
    --neutral-300: hsl(252, 6%, 83%);
    --neutral-500: hsl(245, 15%, 58%);
    --neutral-700: hsl(245, 19%, 35%);
    --neutral-900: hsl(248, 70%, 10%);

    /* Orange Colors */
    --orange-500: hsl(7, 88%, 67%);
    --orange-700: hsl(7, 71%, 60%);

    /* Gradient */
    --gradient-text: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
}

body {
    background: url(assets/images/background-mobile.png);
    /* background-color: var(--neutral-900); */
    color: var(--neutral-0);
    font-size: 20px;
}

label{
    font-size: 20px;
}

.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    margin-bottom: 20px;
}

.form-section h1{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    font-size: 26px;
}

.form-header p{
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--neutral-300);
    margin-bottom: 20px;
}

.upload-section {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    line-height: 2;
}



.upload-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: var(--neutral-900);
    border: 2px dashed var(--neutral-500);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    color: var(--neutral-500);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.upload-avatar input[type="file"]{
    display: none;
}

.upload-section p{
    font-size: 10px;
    color: var(--neutral-300);
    
}
.upload-section img{
    width: 10px;
    border-radius: 50%;
    
    object-fit: cover;
}
