.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", monospace;
}

:root {
    /* Neutral Colors */
    --neutral-0: hsl(0, 0%, 100%);
    --neutral-300: hsl(252, 6%, 83%);
    --neutral-500: hsl(245, 15%, 58%);
    --neutral-700: hsl(245, 19%, 35%);
    --neutral-900: hsl(248, 70%, 10%);

    /* Orange Colors */
    --orange-500: hsl(7, 88%, 67%);
    --orange-700: hsl(7, 71%, 60%);

    /* Gradient */
    --gradient-text: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
}

body {
    background: url(assets/images/background-mobile.png);             
    
    /* background-color: var(--neutral-900); */
    color: var(--neutral-0);
    font-size: 20px;
    margin-top: 20px;
}

.svg-image {
	position: absolute;

	img {
		width: 100%;
	}

	&:nth-child(1) {
		width: 100%;
		
	}
	&:nth-child(2) {
        width: 40%;
		top: 10px;
		right: 0;
	}
	&:nth-child(3) {
        width: 100px;
		left: 0px;
		bottom: 0px;
	}
	&:nth-child(4) {
        width: 150px;
		top: -50px;
		left: -10px;
	}
	&:nth-child(5) {
        
		top: 50%;
		right: 350px;
	}
}

label{
    font-size: 16px;
    color: var(--neutral-100);
    margin-bottom: 5px;
}

.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;

    
}

.logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    margin-bottom: 20px;
}

.form-section h1{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    font-size: 26px;
}

.form-header p{
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--neutral-300);
    margin-bottom: 20px;
}

.upload-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 2;
    margin-bottom: 20px;
}



.upload-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: var(--neutral-900);
    border: 2px dashed var(--neutral-500);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    color: var(--neutral-500);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.upload-avatar input[type="file"]{
    display: none;
}

.upload-section p{
    font-size: 10px;
    color: var(--neutral-300);
    
}

.upload-avatar img{
    width: 50px;
    border-radius: 8px;
    background-color: var(--neutral-700);
    object-fit: cover;
}

.info{
    width: 10px;
    margin-top: 5px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    line-height: 1.5;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--neutral-300);
    border-radius: 8px;
    background-color: var(--neutral-700);
    color: var(--neutral-0);
}

button[type="submit"] {
    background: var(--orange-700);
    color: var(--neutral-900);
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease;
    font-weight: bold;
}

/*Ticket Design*/

.ticket-section{
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    
}

.ticket-section h2{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    font-size: 26px;
}

.ticket-section h2 span {
    background: var(--gradient-text); 
    -webkit-background-clip: text;   
    background-clip: text; 
    color: transparent;  
}

.confirm {
    font-size: 16px;
    margin-bottom: 70px;
    text-align: center;
    color: var(--neutral-300);
}

#ticket-email{
    color: var(--orange-700);
}

.ticket {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 20px;
	background-color: var(--color-neutral-900);
	background-image: url('../assets/images/pattern-ticket.svg');
	background-size: contain;
	background-repeat: no-repeat;
	aspect-ratio: 16 / 9;
	max-width: 100%;
	/* margin: auto; */
	padding: 10px;
	position: relative;
	border-radius: 8px;
    
}

.ticket-header{
    display: flex;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.ticket-header img{
    
    width: 30px;
    object-fit: cover;
}

.ticket-header p{
    font-size: 12px;
    color: var(--neutral-300);
}

.ticket-user{
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 0.5;
    
    
}

#ticketName{
    font-size: 18px;
    font-weight: 500;
    color: var(--neutral-0);
}

#ticketHandle{
    font-size: 12px;
    color: var(--neutral-300);
    align-items: center;
    display: flex;
}

#ticketHandle img{
    width: 20px;
}

#ticketAvatar{
    width: 50px;
    border-radius: 8px;
    background-color: var(--neutral-900);
    object-fit: contain;
}

.ticket-number{
    color: var(--neutral-500);
    font-size: 18px;
    font-weight: 500;
    position: relative;
    align-items: center;
    display: flex;
    right: -42%; 
    top: 100%;
    transform: rotate(90deg) ;
}

#uploadError.error{
    color: rgb(221, 81, 81);
    filter: brightness(0) saturate(100%) invert(22%) sepia(92%) saturate(1460%) hue-rotate(340deg) brightness(92%) contrast(92%);
}

.name-error,
.email-error,
.userName-error {
    display: block;
    color: red; /* or your preferred error color */
    font-size: 0.9rem;
    margin-top: 5px;
}

.error{
    color: rgb(221, 81, 81);
    font-size: 12px;
}